@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

body
{
    font-family: 'Lato', sans-serif;
    background-color: #1f1f1f;
    color: white;
    display: flex;
}

#sidebar
{
    left: 0;
    background-color: #151515;
    width: 20vw;
    padding: 2vh;
}



#logo
{
    width: 5vw;
}

main
{
    margin: 5vh;
}

footer
{
    border-top: 1px solid #333;
    width: 100vw;
    bottom: 0;
    position: fixed;
    background-color: #252525;
    margin-right: 20vw;
    height: 8vh;
    display: grid;
    place-items: center;
}

#albums
{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    gap: 5vw;
    margin-top: 1vw;
}

.album
{
    height: 20vw;
    width: 15vw;
    background-color: #222;
    border-radius: 0.5vw;
    padding-left: 1.5vw;
    padding-top: 1.5vw;
    font-size: 24px;
    transition-duration: .2s;
    text-decoration: none;
    color: white;
}

.album:hover
{
    cursor: pointer;
    background-color: #242424;
}

.cover
{
    width: 12vw;
    height: 12vw;
}

#top_bar
{
    display: flex;
    height: 4vw;
    width: 75vw;
    align-items: center;
    justify-content: space-between;
}

#add_container
{
    display: flex;
    height: 4vh;
    align-items: center;
    column-gap: .5vh;
}

#add_album
{
    font-size: 24px;
}

a
{
    text-decoration: none;
    color: white;
}

#house
{
    width: 5vw;
}

#logo_div
{
    text-decoration: dotted;
    color: white;
    width: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1300px)
{
    #sidebar
    {
        display: none;
    }
    #albums
    {
        grid-template-columns: 30vw 30vw;
    }
    .album
    {
        height: 40vw;
        width: 30vw;
        border-radius: 1vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 3vw;
        font-size: 24px;
    }

    .cover
    {
        height: 24vw;
        width: 24vw;
    }
}